{
  "openapi": "3.1.0",
  "info": {
    "title": "Kest API 参考",
    "version": "1.0.0",
    "description": "Kest 平台 API 的公开契约。该文档以当前代码中真实存在的路由为准。",
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "contact": {
      "name": "Kest API Support",
      "email": "support@kest.dev",
      "url": "https://kest.dev"
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "servers": [
    {
      "url": "https://api.kest.dev",
      "description": "生产环境"
    }
  ],
  "tags": [
    {
      "name": "Auth & Users",
      "description": "认证、账户与用户信息接口。"
    },
    {
      "name": "Kest Cloud Sync",
      "description": "Kest Cloud Sync 产物同步与工作区 CLI token 接口。"
    },
    {
      "name": "API Specs",
      "description": "工作区 API 规格、示例与导入导出接口。"
    },
    {
      "name": "Environments",
      "description": "工作区环境与变量管理接口。"
    },
    {
      "name": "Categories",
      "description": "工作区分类与目录组织接口。"
    },
    {
      "name": "Test Cases",
      "description": "工作区测试用例生成、执行与运行记录接口。"
    },
    {
      "name": "Permissions",
      "description": "角色与权限管理接口。"
    },
    {
      "name": "Collections",
      "description": "工作区请求集合管理接口。"
    },
    {
      "name": "Requests",
      "description": "工作区请求模型与版本操作接口。"
    },
    {
      "name": "History",
      "description": "工作区历史记录接口。"
    },
    {
      "name": "Workspaces",
      "description": "工作区与成员管理接口。"
    },
    {
      "name": "System",
      "description": "健康检查与系统元数据接口。"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "WorkspaceCLIToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Kest workspace CLI token"
      }
    },
    "schemas": {
      "GenericData": {
        "type": "object",
        "additionalProperties": true
      },
      "SuccessEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "message": {
            "type": "string",
            "example": "success"
          },
          "data": {
            "$ref": "#/components/schemas/GenericData"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 400
          },
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "MetaEnvelope": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "KeyValue": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "is_super_admin": {
            "type": "boolean"
          },
          "last_login": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "username",
          "email",
          "status",
          "is_super_admin",
          "created_at",
          "updated_at"
        ]
      },
      "UserRegisterRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "nickname": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "password",
          "email"
        ]
      },
      "UserLoginRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "password"
        ]
      },
      "UserLoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        },
        "required": [
          "access_token",
          "user"
        ]
      },
      "UserLoginEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/UserLoginResponse"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "UserUpdateRequest": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string"
          },
          "avatar": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          }
        }
      },
      "UserChangePasswordRequest": {
        "type": "object",
        "properties": {
          "old_password": {
            "type": "string"
          },
          "new_password": {
            "type": "string"
          }
        },
        "required": [
          "old_password",
          "new_password"
        ]
      },
      "UserPasswordResetRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "email"
        ]
      },
      "UserListData": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "last_page": {
                "type": "integer"
              },
              "from": {
                "type": "integer"
              },
              "to": {
                "type": "integer"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "first": {
                "type": "string"
              },
              "last": {
                "type": "string"
              },
              "prev": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "next": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "GenerateWorkspaceCLITokenRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "collection:read",
                "collection:run",
                "environment:read",
                "test_case:run",
                "flow:run",
                "flow:write"
              ]
            }
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkspaceCLITokenInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "token_prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspace_id",
          "name",
          "token_prefix",
          "scopes",
          "created_at"
        ]
      },
      "GenerateWorkspaceCLITokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "token_info": {
            "$ref": "#/components/schemas/WorkspaceCLITokenInfo"
          }
        },
        "required": [
          "token",
          "token_type",
          "workspace_id",
          "token_info"
        ]
      },
      "GenerateWorkspaceCLITokenEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/GenerateWorkspaceCLITokenResponse"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "WorkspaceCLITokenArrayEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceCLITokenInfo"
            }
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "CLISpecSyncRequestBodySpec": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "content_type": {
            "type": "string"
          },
          "schema": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "required"
        ]
      },
      "CLISpecSyncParameter": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "in": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "schema": {
            "type": "object",
            "additionalProperties": true
          },
          "example": {}
        },
        "required": [
          "name",
          "in",
          "required"
        ]
      },
      "CLISpecSyncResponse": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "content_type": {
            "type": "string"
          },
          "schema": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "description"
        ]
      },
      "CLISpecSyncExample": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "request_headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "request_body": {
            "type": "string"
          },
          "response_status": {
            "type": "integer"
          },
          "response_body": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer"
          }
        },
        "required": [
          "name",
          "response_status",
          "duration_ms"
        ]
      },
      "CLISpecSyncSpec": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH",
              "HEAD",
              "OPTIONS"
            ]
          },
          "path": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "request_body": {
            "$ref": "#/components/schemas/CLISpecSyncRequestBodySpec"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CLISpecSyncParameter"
            }
          },
          "responses": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CLISpecSyncResponse"
            }
          },
          "examples": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CLISpecSyncExample"
            }
          }
        },
        "required": [
          "method",
          "path",
          "title",
          "version"
        ]
      },
      "CLISpecSyncRequest": {
        "type": "object",
        "properties": {
          "workspace_id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "specs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CLISpecSyncSpec"
            }
          }
        },
        "required": [
          "specs"
        ]
      },
      "SyncSummary": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer"
          },
          "updated": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "created",
          "updated",
          "skipped"
        ]
      },
      "SyncSummaryEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/SyncSummary"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "CLIHistorySyncEntry": {
        "type": "object",
        "properties": {
          "source_event_id": {
            "type": "string"
          },
          "event_type": {
            "type": "string"
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time"
          },
          "entity_type": {
            "type": "string"
          },
          "entity_id": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "source_event_id",
          "event_type",
          "occurred_at",
          "entity_type",
          "entity_id",
          "action",
          "message",
          "data"
        ]
      },
      "CLIHistorySyncRequest": {
        "type": "object",
        "properties": {
          "workspace_id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CLIHistorySyncEntry"
            }
          }
        },
        "required": [
          "entries"
        ]
      },
      "RequestBodySpec": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "content_type": {
            "type": "string"
          },
          "schema": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "required"
        ]
      },
      "ParameterSpec": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "in": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          },
          "schema": {
            "type": "object",
            "additionalProperties": true
          },
          "example": {}
        },
        "required": [
          "name",
          "in",
          "required"
        ]
      },
      "ResponseSpec": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "content_type": {
            "type": "string"
          },
          "schema": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "description"
        ]
      },
      "APISpec": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "category_id": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "doc_markdown": {
            "type": "string"
          },
          "doc_markdown_zh": {
            "type": "string"
          },
          "doc_markdown_en": {
            "type": "string"
          },
          "doc_source": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "request_body": {
            "$ref": "#/components/schemas/RequestBodySpec"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParameterSpec"
            }
          },
          "responses": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ResponseSpec"
            }
          },
          "version": {
            "type": "string"
          },
          "is_public": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspace_id",
          "method",
          "path",
          "summary",
          "description",
          "tags",
          "version",
          "is_public",
          "created_at",
          "updated_at"
        ]
      },
      "APISpecExample": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "api_spec_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "request_headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "request_body": {
            "type": "object",
            "additionalProperties": true
          },
          "response_status": {
            "type": "integer"
          },
          "response_body": {
            "type": "object",
            "additionalProperties": true
          },
          "duration_ms": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "api_spec_id",
          "name",
          "response_status",
          "duration_ms",
          "created_at"
        ]
      },
      "CreateAPISpecRequest": {
        "type": "object",
        "properties": {
          "category_id": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE",
              "PATCH",
              "HEAD",
              "OPTIONS"
            ]
          },
          "path": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "doc_markdown": {
            "type": "string"
          },
          "doc_markdown_zh": {
            "type": "string"
          },
          "doc_markdown_en": {
            "type": "string"
          },
          "doc_source": {
            "type": "string",
            "enum": [
              "manual",
              "ai"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "request_body": {
            "$ref": "#/components/schemas/RequestBodySpec"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParameterSpec"
            }
          },
          "responses": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ResponseSpec"
            }
          },
          "version": {
            "type": "string"
          },
          "is_public": {
            "type": "boolean"
          }
        },
        "required": [
          "method",
          "path",
          "version"
        ]
      },
      "UpdateAPISpecRequest": {
        "type": "object",
        "properties": {
          "category_id": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "doc_markdown": {
            "type": "string"
          },
          "doc_markdown_zh": {
            "type": "string"
          },
          "doc_markdown_en": {
            "type": "string"
          },
          "doc_source": {
            "type": "string",
            "enum": [
              "manual",
              "ai"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "request_body": {
            "$ref": "#/components/schemas/RequestBodySpec"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParameterSpec"
            }
          },
          "responses": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ResponseSpec"
            }
          },
          "is_public": {
            "type": "boolean"
          }
        }
      },
      "ImportAPISpecsRequest": {
        "type": "object",
        "properties": {
          "specs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateAPISpecRequest"
            }
          }
        },
        "required": [
          "specs"
        ]
      },
      "CreateAPIExampleRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "request_headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "request_body": {
            "type": "object",
            "additionalProperties": true
          },
          "response_status": {
            "type": "integer"
          },
          "response_body": {
            "type": "object",
            "additionalProperties": true
          },
          "duration_ms": {
            "type": "integer"
          }
        },
        "required": [
          "name",
          "response_status"
        ]
      },
      "APISpecEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/APISpec"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "APISpecListEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/APISpec"
                }
              },
              "meta": {
                "$ref": "#/components/schemas/MetaEnvelope"
              }
            },
            "required": [
              "items",
              "meta"
            ]
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "APISpecExamplesEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/APISpecExample"
                }
              },
              "total": {
                "type": "integer"
              }
            },
            "required": [
              "items",
              "total"
            ]
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "Environment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "variables": {
            "type": "object",
            "additionalProperties": true
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspace_id",
          "name",
          "created_at",
          "updated_at"
        ]
      },
      "CreateEnvironmentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "variables": {
            "type": "object",
            "additionalProperties": true
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateEnvironmentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "variables": {
            "type": "object",
            "additionalProperties": true
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "DuplicateEnvironmentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "override_vars": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "name"
        ]
      },
      "EnvironmentEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Environment"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "EnvironmentArrayEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Environment"
            }
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspace_id",
          "name",
          "sort_order",
          "created_at",
          "updated_at"
        ]
      },
      "CreateCategoryRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateCategoryRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "description": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "SortCategoriesRequest": {
        "type": "object",
        "properties": {
          "category_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "category_ids"
        ]
      },
      "CategoryListEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Category"
                }
              },
              "total": {
                "type": "integer"
              },
              "pagination": {
                "$ref": "#/components/schemas/MetaEnvelope"
              }
            },
            "required": [
              "items"
            ]
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "CategoryEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Category"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "Assertion": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "operator": {
            "type": "string"
          },
          "expect": {},
          "message": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "operator"
        ]
      },
      "ExtractVar": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "source",
          "path"
        ]
      },
      "TestCase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "api_spec_id": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "env": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "query_params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "path_params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "request_body": {
            "type": "object",
            "additionalProperties": true
          },
          "pre_script": {
            "type": "string"
          },
          "post_script": {
            "type": "string"
          },
          "assertions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assertion"
            }
          },
          "extract_vars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractVar"
            }
          },
          "created_by": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "api_spec_id",
          "name",
          "created_by",
          "created_at",
          "updated_at"
        ]
      },
      "CreateTestCaseRequest": {
        "type": "object",
        "properties": {
          "api_spec_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "env": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "query_params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "path_params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "request_body": {
            "type": "object",
            "additionalProperties": true
          },
          "pre_script": {
            "type": "string"
          },
          "post_script": {
            "type": "string"
          },
          "assertions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assertion"
            }
          },
          "extract_vars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractVar"
            }
          }
        },
        "required": [
          "api_spec_id",
          "name"
        ]
      },
      "UpdateTestCaseRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "env": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "query_params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "path_params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "request_body": {
            "type": "object",
            "additionalProperties": true
          },
          "pre_script": {
            "type": "string"
          },
          "post_script": {
            "type": "string"
          },
          "assertions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assertion"
            }
          },
          "extract_vars": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExtractVar"
            }
          }
        }
      },
      "FromSpecRequest": {
        "type": "object",
        "properties": {
          "api_spec_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "env": {
            "type": "string"
          },
          "use_example": {
            "type": "boolean"
          },
          "example_id": {
            "type": "string"
          }
        },
        "required": [
          "api_spec_id",
          "name"
        ]
      },
      "DuplicateTestCaseRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "RunTestCaseRequest": {
        "type": "object",
        "properties": {
          "env_id": {
            "type": "string"
          },
          "global_vars": {
            "type": "object",
            "additionalProperties": true
          },
          "variable_keys": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "RunRequestInfo": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "body": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "method",
          "url",
          "headers"
        ]
      },
      "RunResponseInfo": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "body": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "status",
          "headers"
        ]
      },
      "AssertionResult": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "operator": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "expect": {},
          "actual": {},
          "passed": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "operator",
          "passed",
          "message"
        ]
      },
      "TestRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "test_case_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer"
          },
          "request": {
            "$ref": "#/components/schemas/RunRequestInfo"
          },
          "response": {
            "$ref": "#/components/schemas/RunResponseInfo"
          },
          "assertions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssertionResult"
            }
          },
          "variables": {
            "type": "object",
            "additionalProperties": true
          },
          "message": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "test_case_id",
          "status",
          "duration_ms",
          "created_at"
        ]
      },
      "RunTestCaseResponse": {
        "type": "object",
        "properties": {
          "test_case_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer"
          },
          "request": {
            "$ref": "#/components/schemas/RunRequestInfo"
          },
          "response": {
            "$ref": "#/components/schemas/RunResponseInfo"
          },
          "assertions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssertionResult"
            }
          },
          "variables": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "test_case_id",
          "status",
          "duration_ms",
          "request",
          "response",
          "assertions",
          "variables"
        ]
      },
      "TestCaseEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TestCase"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "TestCaseListEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TestCase"
                }
              },
              "meta": {
                "$ref": "#/components/schemas/MetaEnvelope"
              }
            },
            "required": [
              "items",
              "meta"
            ]
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "RunResultEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/RunTestCaseResponse"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "TestRunEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/TestRun"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "TestRunListEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TestRun"
                }
              },
              "meta": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer"
                  },
                  "page_size": {
                    "type": "integer"
                  },
                  "total": {
                    "type": "integer"
                  },
                  "total_pages": {
                    "type": "integer"
                  }
                }
              }
            },
            "required": [
              "items",
              "meta"
            ]
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "display_name",
          "description",
          "is_default",
          "created_at"
        ]
      },
      "Permission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "module": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "display_name",
          "description",
          "module"
        ]
      },
      "CreateRoleRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateRoleRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "AssignRoleRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "role_id": {
            "type": "string"
          }
        },
        "required": [
          "user_id",
          "role_id"
        ]
      },
      "UserRolesEnvelope": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Role"
            }
          }
        },
        "required": [
          "user_id",
          "roles"
        ]
      },
      "RoleEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "is_default": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "display_name",
          "description",
          "is_default",
          "created_at"
        ]
      },
      "RoleArrayEnvelope": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Role"
        }
      },
      "PermissionArrayEnvelope": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Permission"
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "is_folder": {
            "type": "boolean"
          },
          "sort_order": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "workspace_id",
          "is_folder",
          "sort_order",
          "created_at",
          "updated_at"
        ]
      },
      "CollectionTreeNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "is_folder": {
            "type": "boolean"
          },
          "sort_order": {
            "type": "integer"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionTreeNode"
            }
          },
          "request_count": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "workspace_id",
          "is_folder",
          "sort_order"
        ]
      },
      "CreateCollectionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "is_folder": {
            "type": "boolean"
          },
          "sort_order": {
            "type": "integer"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateCollectionRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "MoveCollectionRequest": {
        "type": "object",
        "properties": {
          "parent_id": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "CollectionEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Collection"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "CollectionListEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Collection"
                }
              },
              "meta": {
                "$ref": "#/components/schemas/MetaEnvelope"
              }
            },
            "required": [
              "items",
              "meta"
            ]
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "CollectionTreeEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionTreeNode"
            }
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "BasicAuth": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "password"
        ]
      },
      "BearerToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ]
      },
      "APIKeyAuth": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "in": {
            "type": "string"
          },
          "add_to": {
            "type": "string"
          }
        },
        "required": [
          "key",
          "value",
          "in"
        ]
      },
      "OAuth2Config": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string"
          },
          "auth_url": {
            "type": "string"
          },
          "token_url": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "grant_type"
        ]
      },
      "AuthConfig": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "basic": {
            "$ref": "#/components/schemas/BasicAuth"
          },
          "bearer": {
            "$ref": "#/components/schemas/BearerToken"
          },
          "api_key": {
            "$ref": "#/components/schemas/APIKeyAuth"
          },
          "oauth2": {
            "$ref": "#/components/schemas/OAuth2Config"
          }
        },
        "required": [
          "type"
        ]
      },
      "Request": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "collection_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValue"
            }
          },
          "query_params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValue"
            }
          },
          "path_params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "body": {
            "type": "string"
          },
          "body_type": {
            "type": "string"
          },
          "auth": {
            "$ref": "#/components/schemas/AuthConfig"
          },
          "pre_request": {
            "type": "string"
          },
          "test": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "collection_id",
          "name",
          "description",
          "method",
          "url",
          "headers",
          "query_params",
          "path_params",
          "body",
          "body_type",
          "sort_order",
          "created_at",
          "updated_at"
        ]
      },
      "CreateRequestRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE",
              "HEAD",
              "OPTIONS"
            ]
          },
          "url": {
            "type": "string"
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValue"
            }
          },
          "query_params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValue"
            }
          },
          "path_params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "body": {
            "type": "string"
          },
          "body_type": {
            "type": "string"
          },
          "auth": {
            "$ref": "#/components/schemas/AuthConfig"
          },
          "pre_request": {
            "type": "string"
          },
          "test": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          }
        },
        "required": [
          "name",
          "method",
          "url"
        ]
      },
      "UpdateRequestRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE",
              "HEAD",
              "OPTIONS"
            ]
          },
          "url": {
            "type": "string"
          },
          "headers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValue"
            }
          },
          "query_params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValue"
            }
          },
          "path_params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "body": {
            "type": "string"
          },
          "body_type": {
            "type": "string"
          },
          "auth": {
            "$ref": "#/components/schemas/AuthConfig"
          },
          "pre_request": {
            "type": "string"
          },
          "test": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "MoveRequestRequest": {
        "type": "object",
        "properties": {
          "collection_id": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "RollbackRequest": {
        "type": "object",
        "properties": {
          "version_id": {
            "type": "string"
          }
        },
        "required": [
          "version_id"
        ]
      },
      "RequestEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Request"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "RequestListEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Request"
                }
              },
              "meta": {
                "$ref": "#/components/schemas/MetaEnvelope"
              }
            },
            "required": [
              "items",
              "meta"
            ]
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "History": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "entity_type": {
            "type": "string"
          },
          "entity_id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "source_event_id": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "diff": {
            "type": "object",
            "additionalProperties": true
          },
          "message": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "entity_type",
          "entity_id",
          "workspace_id",
          "user_id",
          "action",
          "data",
          "message",
          "created_at"
        ]
      },
      "RecordHistoryRequest": {
        "type": "object",
        "properties": {
          "entity_type": {
            "type": "string"
          },
          "entity_id": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "source_event_id": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "diff": {
            "type": "object",
            "additionalProperties": true
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "entity_type",
          "entity_id",
          "action",
          "data"
        ]
      },
      "HistoryEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/History"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "HistoryListEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/History"
                }
              },
              "meta": {
                "$ref": "#/components/schemas/MetaEnvelope"
              }
            },
            "required": [
              "items",
              "meta"
            ]
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "personal",
              "team",
              "public"
            ]
          },
          "owner_id": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "team",
              "public"
            ]
          },
          "settings": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "description",
          "type",
          "owner_id",
          "visibility",
          "created_at",
          "updated_at"
        ]
      },
      "WorkspaceMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "write",
              "read"
            ]
          },
          "invited_by": {
            "type": "string"
          },
          "joined_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "workspace_id",
          "user_id",
          "role",
          "invited_by",
          "joined_at"
        ]
      },
      "CreateWorkspaceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "personal",
              "team",
              "public"
            ]
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "team",
              "public"
            ]
          }
        },
        "required": [
          "name",
          "slug",
          "type"
        ]
      },
      "UpdateWorkspaceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "team",
              "public"
            ]
          }
        }
      },
      "AddWorkspaceMemberRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "write",
              "read"
            ]
          }
        },
        "required": [
          "user_id",
          "role"
        ]
      },
      "UpdateWorkspaceMemberRoleRequest": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "write",
              "read"
            ]
          }
        },
        "required": [
          "role"
        ]
      },
      "WorkspaceEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Workspace"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "WorkspaceArrayEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workspace"
            }
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "WorkspaceMemberArrayEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceMember"
            }
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "SystemFeatures": {
        "type": "object",
        "properties": {
          "enable_email_password_login": {
            "type": "boolean"
          },
          "enable_social_oauth_login": {
            "type": "boolean"
          },
          "is_allow_register": {
            "type": "boolean"
          },
          "enable_api_documentation": {
            "type": "boolean"
          },
          "enable_test_runner": {
            "type": "boolean"
          },
          "enable_cli_sync": {
            "type": "boolean"
          }
        },
        "required": [
          "enable_email_password_login",
          "enable_social_oauth_login",
          "is_allow_register",
          "enable_api_documentation",
          "enable_test_runner",
          "enable_cli_sync"
        ]
      },
      "SetupStatus": {
        "type": "object",
        "properties": {
          "step": {
            "type": "string"
          },
          "setup_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_setup": {
            "type": "boolean"
          },
          "has_admin": {
            "type": "boolean"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "step",
          "is_setup",
          "has_admin",
          "version"
        ]
      },
      "SystemFeaturesEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/SystemFeatures"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "SetupStatusEnvelope": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/SetupStatus"
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ]
      },
      "RootHealth": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "V1Health": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "version"
        ]
      }
    }
  },
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "检查 API v1 健康状态",
        "tags": [
          "System"
        ],
        "operationId": "getApiV1Health",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1Health"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "检查根路径健康状态",
        "tags": [
          "System"
        ],
        "operationId": "getRootHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootHealth"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/health/live": {
      "get": {
        "summary": "检查存活状态",
        "tags": [
          "System"
        ],
        "operationId": "getLiveness",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootHealth"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/health/ready": {
      "get": {
        "summary": "检查就绪状态",
        "tags": [
          "System"
        ],
        "operationId": "getReadiness",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootHealth"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v1/register": {
      "post": {
        "summary": "注册用户",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "registerUser",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "summary": "用户登录",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "loginUser",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserLoginEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/password/reset": {
      "post": {
        "summary": "发起密码重置",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "resetPassword",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPasswordResetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/profile": {
      "get": {
        "summary": "获取当前用户信息",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "getProfile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "更新当前用户信息",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "updateProfile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/password": {
      "put": {
        "summary": "修改当前用户密码",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "changePassword",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserChangePasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/account": {
      "delete": {
        "summary": "删除当前用户账号",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "deleteAccount",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "summary": "分页列出用户",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "listUsers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/search": {
      "get": {
        "summary": "搜索用户",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "searchUsers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "搜索关键字"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "返回数量"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{id}": {
      "get": {
        "summary": "获取用户",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "getUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{id}/info": {
      "get": {
        "summary": "获取用户",
        "tags": [
          "Auth & Users"
        ],
        "operationId": "getUserInfo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用户 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}/cli-tokens": {
      "get": {
        "summary": "列出工作区 CLI Tokens",
        "tags": [
          "Kest Cloud Sync"
        ],
        "operationId": "listWorkspaceCliTokens",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "工作区 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceCLITokenArrayEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "生成工作区 CLI Token",
        "tags": [
          "Kest Cloud Sync"
        ],
        "operationId": "createWorkspaceCliToken",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "工作区 ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateWorkspaceCLITokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateWorkspaceCLITokenEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{id}/cli/spec-sync": {
      "post": {
        "summary": "通过 Kest Cloud Sync 同步 API Specs",
        "tags": [
          "Kest Cloud Sync"
        ],
        "operationId": "syncWorkspaceSpecsFromCli",
        "security": [
          {
            "WorkspaceCLIToken": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "工作区 ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CLISpecSyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncSummaryEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
[...]
